.form-group
  button.btn.btn-default.btn-sm.btn-select-prop.form-control(
  placeholder='Any'
  ng-model='sectionProperty.value'
  data-html='1'
  ng-options='type.$value as type.$value for type in types',
  bs-select='types')
    span.caret.app-caret.text-right

