div(id='book')
  fa-app(style='width:{{w}}px;height:{{2.2*h}}px;-webkit-perspective:1000' fa-perpective='1000' id='home-page-app')
    fa-modifier(
    fa-size='[{{w}},{{1.2*h}}]' )
      fa-modifier(
      fa-origin="[0,0.25]"
      fa-align="[0,0.70]"
      ng-repeat='home in homes'
      fa-opacity='home.opacity.get()'
      fa-rotate-y='home.flip.get()'
      fa-size='[{{w}}, {{1.2*h}}]')
        fa-surface( fa-background-color="'white'" fa-click='nextPage(home)' fa-properties="bookStyle")
          sv-fit-image(url='home.image' w='w' h='h' )
          div.text-center
            h4.text-flex 4023 W Church str. Chicago, IL, 60630
