div(id='book')
  fa-app(style='width:{{w}}px;height:{{2*h}}px;-webkit-perspective:2000' fa-perpective='2000' id='home-page-app')
    fa-modifier(
    fa-size='[{{w}},{{2*h}}]' )
      fa-modifier(
      fa-origin="[0,0.5]"
      fa-align="[0,0.5]"
      ng-repeat='home in homes'
      fa-opacity='home.opacity.get()'
      fa-rotate-y='home.flip.get()'
      fa-size='[{{0.98*w}}, {{1.2*h}}]')
        fa-surface( fa-background-color="'white'" fa-click='nextPage(home)' fa-properties="bookStyle")
          sv-fit-image(url='home.image' w='0.92*w' h='h' )
          div.text-center
            h4.text-flex 4023 W Church St. Chicago, IL, 60630
