div
  fa-app(style='width:{{w}}px;height:{{1.7*h}}px;background-color:red' fa-perpective='1000' id='home-page-app')
    fa-modifier(
    fa-size='[{{w}},{{1.7*h}}]' )
      fa-modifier(
      fa-translate='[0,0,0]'
      fa-align="[0, 0.5]"
      ng-repeat='home in homes'
      fa-opacity='1' fa-rotate-y='home.flip.get()'
      fa-origin="[0, 0.5]"
      fa-size='[{{w}},{{h}}]' )
        fa-surface(fa-click='nextPage(home)' )
          sv-fit-image(url='home.image' w='w' h='h')
