div(id='book')
  fa-app(style='width:{{w}}px;height:{{2*h}}px;-webkit-perspective:2000' fa-perpective='2000' id='home-page-app')
    fa-modifier(
    fa-opacity="bookOpacity"
    fa-size='[{{w}},{{2*h}}]' )
      fa-modifier(
      fa-translate='[0,{{bookTranslate}},0]'
      ng-repeat='home in homes'
      fa-opacity='home.opacity.get()'
      fa-rotate-y='home.flip.get()'
      fa-size='[{{0.98*w}}, {{1.17*h}}]')
        fa-surface(fa-click='nextPage(home)' fa-properties="bookStyle")
          sv-fit-image(url='home.image' w='0.92*w' h='h' )
          .row
            .col-xs-8
              h4.no-m-btm {{title}}
            .col-xs-4
              h5.text-right
                a(ui-sref='app.structure.remax-home({mls:home.mls})') More info
