div
  fa-app(style='width:{{w}}px;height:{{inith}}px;background-color:red' fa-perpective='1000' id='home-page-app')
    fa-modifier(
    fa-translate='[0,100,0]'
    fa-size='[{{w}},{{2*h}}]' )
      fa-modifier(
      fa-translate='[0,0,0]'
      ng-repeat='home in homes'
      fa-opacity='1'
      fa-rotate-y='home.flip.get()'
      fa-size='[{{w}},{{h}}]')
        fa-surface(fa-click='nextPage(home,$index)' fa-background-color="'white'" fa-size="[{{.98*w}}, {{1.1*h}}]" fa-properties="bookStyle")
          sv-fit-image(url='home.image' w='w' h='h')
