.align-center
  fa-app(style='width:{{w}};height:{{2.5*h}}px;background-color:inherit')
    fa-modifier(fa-size='[{{w}}, {{h}}]')
      fa-surface(
      fa-background-color="'green'"
      fa-properties="sliderStyle"
      fa-size='[undefined, undefined]'
      )
      fa-modifier(
      fa-size='[{{h}}, {{h}}]'
      fa-translate='myTransitionable.get()')
        fa-draggable(
        fa-options='{projection:"_direction.x",xRange:[0,w-h]}'
        fa-pipe-from='handler')
          fa-surface(id='surf'
          fa-background-color="'grey'"
          fa-size='[undefined, undefined]'
          fa-pipe-to='handler'
          fa-properties="switcherStyle"
          ).cursor-p
            div
              p.for.text-center for
              h6.sale-rent.text-center {{title}}



